################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dog-tracker-front-end/obj/Debug
/dog-tracker-front-end/dog-tracker-front-end.esproj.user
/node_modules
