<table class="mt-16">
  <thead>
    <tr>
      <th>Name</th>
      <th>Barks a lot</th>
      <th>Id (here temporarily)</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="!dogService.dogList">Loading...</tbody>
  <tbody *ngIf="dogService.dogList">
    <tr *ngIf="dogService.dogList.length === 0">No dog data to display</tr>
    <tr *ngFor="let dog of dogService.dogList">
      <td>{{dog.name}}</td>
      <td>{{dog.barksALot}}</td>
      <td>{{dog.id}}</td>
      <td>
        <mat-icon class="deleteIcon"
                  (click)="deleteDog(dog)">
          delete
        </mat-icon>
      </td>
    </tr>
  </tbody>
</table>
