<form [formGroup]="dogForm">
  <mat-form-field class="dog-name-input"
                  appearance="outline">
    <mat-label>Dog name</mat-label>
    <input matInput formControlName="name" maxlength="20">
  </mat-form-field>

  <div class="checkbox-and-button">
    <mat-checkbox formControlName="barksALot">
      Barks a lot?
    </mat-checkbox>

    <button mat-raised-button
            class="add-dog-button"
            (click)="addDog()"
            [disabled]="!dogForm.valid">
      add dog
    </button>
  </div>
</form>
